""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set surround
set commentary
set easymotion
set quickscope
set NERDTree

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set ignorecase
set smartcase
set nu
set relativenumber

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Mappings --------------------------------
imap jj <Esc>
map <Leader> <Plug>(easymotion-prefix)
map <leader>hw <Plug>(easymotion-bd-w)
map <leader>hl <Plug>(easymotion-bd-jk)
map <leader>hc <Plug>(easymotion-bd-f2)
map <leader>rn <Action>(RenameElement)
map <leader>ff <Action>(GotoFile)
map <leader>fw <Action>(FindInPath)
map <leader>af <Action>(ReformatCode)
map <leader>oi <Action>(OptimizeImports)
map <leader>ca <Action>(ShowIntentionActions)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>gt <Action>(GotoTest)
map gi <Action>(GotoImplementation)
map <leader>fb <Action>(Switcher)
map <leader>fc <Action>(RecentChangedFiles)
map <leader>fl <Action>(RecentLocations)
map <leader>cs <Action>(ChangeSignature)
